.prize-billing-info-container {
  margin: 16px auto;
  width: 60%;

  .prize-billing-info-header {
    text-align: center;
  }

  .prize-billing-info-form {

    .prize-billing-info-form-button {
      margin-top: 24px;
      margin-bottom: 16px;
      background-color: black;
    }
  }
}
