.events-list {
  margin-top: 16px;
  margin-bottom: 8px;
  padding-right: 24px;
  padding-lefT: 24px;

  .event-item {
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    .local-team, .visiting-team, .tie {
      background-color: #FBDEC7;
      height: 72px;
      margin: 0 16px;
      padding: 0 16px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-weight: 600;
    }

    .local-team {
      width: calc(37% + 32px);
    }

    .local-team .local-team-name {
      margin-left: 120px;
      margin-right: auto;
    }

    .local-team .local-team-prediction, .visiting-team .visiting-team-prediction {
      padding: 0 24px;
      font-size: 24px;
      color: #F20F0F;
    }

    .local-team .local-team-result, .visiting-team .visiting-team-result {
      padding: 0 16px;
      font-size: 32px;
    }

    .local-team .local-team-prediction.hit-result, .visiting-team .visiting-team-prediction.hit-result {
      color: #07821B;
    }

    .visiting-team {
      width: calc(37% + 32px);
    }

    .visiting-team .visiting-team-name {
      margin-right: 120px;
      margin-left: auto;
    }

    .local-team.tie-exists, .visiting-team.tie-exists {
      width: 32%;
    }

    .tie {
      width: 10%;
      justify-content: center;
    }

    .event-result {
      margin: 0 auto;
      width: 10%;
      min-width: 180px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
