.event-detail {
  margin: 16px auto;
  width: 80%;

  .event-detail-result {
    display: flex;
    justify-content: space-between;

    .event-detail-local {
      width: 350px;
      text-align: center;
    }

    .event-detail-visitor {
      width: 350px;
      text-align: center;
    }

    .event-detail-local-result-select, .event-detail-visitor-result-select {
      width: 248px;
    }

    .event-detail-stats {
      width: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .event-detail-stats-graph {
        max-width: 200px;
      }

      .event-detail-stats-ref {
        margin-left: 8px;
      }
    }
  }

  .event-detail-error-message {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .event-detail-actions {
    text-align: center;

    .save-prediction {
      margin-top: 24px;
      margin-bottom: 16px;
      background-color: black;
    }

    .save-prediction:hover {
      background-color: #494949;
    }
  }
}
