.forgot-password-container {
  h3 {
    text-align: center;
  }

  form {
    margin: 16px auto 0;
    width: 60%;

    .forgot-password-button {
      background-color: black;
    }

    .forgot-password-button:hover {
      background-color: #494949;
    }
  }
}
