form {
  margin-top: 24px;

  .send-invitation-button {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: black;
  }

  .send-invitation-button:hover {
    background-color: #494949;
  }
}
