.login-form-container {
  margin: 32px auto;
  width: 35%;

  .login-form-header {
    text-align: center;
  }

  .google-login-button {
    width: 100%;
  }

  form {
    .login-button {
      background-color: black;
    }

    .login-button:hover {
      background-color: #494949;
    }
  }
}
