.login-form-container {
  h1 {
    margin-bottom: 16px;
  }

  .google-login-button {
    width: 100%;
  }

  form {
    .login-button {
      background-color: black;
    }

    .login-button:hover {
      background-color: #494949;
    }
  }
}
