.company-register-container {
  margin: 16px auto;
  width: 60%;

  .company-register-header {
    text-align: center;
  }

  .company-register-form {

    .company-register-form-button {
      margin-top: 24px;
      margin-bottom: 16px;
      background-color: black;
    }
  }
}
