.company-penca-send-news-form-container {
  margin: 16px auto;
  width: 35%;

  .company-penca-send-news-form-header {
    padding-bottom: 16px;
    text-align: center;
  }

  .company-penca-send-news-form {
    width: 100%;
    margin-top: 24px;

    .company-penca-send-news-form-feedback-message {
      width: 100%;
    }

    .company-penca-send-news-form-button {
      margin-top: 24px;
      margin-bottom: 16px;
      background-color: black;
    }
  }
}
