.navbar {
  background-color: #E76F51 !important;

  .navbar-icon {
    margin-right: 16px;
    display: flex;
  }

  .navbar-options {
    flex-grow: 1;
    color: white;

    button {
      color: black;
      font-weight: 500;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    button:hover {
      background-color: #C43C1B;
    }
  }

  .login-button {
    background-color: black;
  }

  .login-button:hover {
    background-color: #494949;
  }
}
