.navbar {
  background-color: #E76F51 !important;

  .navbar-icon {
    margin-right: 16px;
    display: flex;
  }

  .navbar-options {
    flex-grow: 1;
    color: white;

    button {
      color: white;
    }

    button:hover {
      background-color: #C43C1B;
    }
  }

  .login-button {
    background-color: black;
  }

  .login-button:hover {
    background-color: #494949;
  }
}
