.user-register-container {
  margin: 16px auto;
  width: 35%;

  .user-register-header {
    padding-bottom: 16px;
    text-align: center;
  }

  .signup-form {
    width: 100%;
    margin-top: 24px;

    .signup-form-feedback-message {
      width: 100%;
    }

    .signup-form-button {
      margin-top: 24px;
      margin-bottom: 16px;
      background-color: black;
    }
  }
}
