html, body, #root {
  background-color: #F5AA6D;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[class^='MuiPaper-root'] {
  font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

button {
  font-family: inherit !important;
}

a.no-style:link, a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
}
